<div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">AdminsBackoffice::Welcome#index</h1>
                    </div>
                    <hr>
<p>Você está logado como admin.</p>
<p>Find me in app/views/admins_backoffice/welcome/index.html.erb</p>

<p><%= link_to 'Fazer logoff [Admin]', destroy_admin_session_path, method: :delete %></p>
