<% @questions.each do |question| %>
<ul class="list-group mt-3">
  <li class="list-group-item bg-light fs-6 fw-semibold"><%= question.description%></li>
  <% question.answers.each do |answer| %>
  <li class="list-group-item"><%= answer.description %></li>
  <%end%>
</ul>
<% end %>